/* Global Styles - Base Application */

/* Atkinson Hyperlegible Font */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background: #1a1a1a;
  overflow: hidden;
}

#root {
  height: 100%;
}
